/* Make variable for color */
:root {
    --dark-orange: #FF5400;
    --dark-orange-2d: #FF6D00;
    --moderate-orange: #FF6D00;
    --orange: #FF6D00;
    --light-orange: #FF6D00;
    --shine-blue: #00B4D8;
    --shine-blue-2d: #0096C7;
    --dark-blue: #023E8A;
    --very-dark-blue: #03045E;

}

@font-face {
    font-family: LemonMilk;
    src: url(../fonts/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: OkineSans;
    src: url(../fonts/OkineSans-Regular.otf);
}



* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

/* Header beggining */
.header { 
    background-color: var(--very-dark-blue);
    padding: 5px;
    position: static;
    position: fixed;
    z-index: 12;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}



.logo {
    width: 60px;
    height: 100%;
}
.logo img {
    width: 100%;
    height: 100%;
}


/* Logo End */


.nav-links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
  }

.nav-links .nav-link a {
    text-decoration: none;
    padding: 0 1rem;
    color: var(--shine-blue-2d);
    font-family: 'OkineSans';
}
.nav-links .nav-link a:hover {
    color: var(--dark-orange-2d);
}



.icon {
    width: 30px;
    height: 21px;
    background-color: transparent;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    /* used to make the flow of spans from right to left */
    justify-content: flex-end;
}


/* Hamburger Icon Start */
.icon span {
    margin-top: 2px;
    background-color: var(--moderate-orange);
}
.icon span:first-child {
    width: 100%;
    height: 2px;
}
.icon span:nth-child(2) {
    width: 60%;
    height: 2px;
    /* used to make the animation transition be smooth */
    transition: 0.3s;
}
.icon span:last-child {
    width: 100%;
    height: 2px;
}
.icon:hover :nth-child(2) {
    width: 100%;

}





.header .links:hover  ul {
    display: block;
    border-radius: 13px;
    border: 0.5px #80808052 solid;
}

/* Hamburger Icon End */

.container .links ul::before {
    content: "";
}

.container .links ul  {
    /* to reset the ul */
    list-style: none;
    margin: 0;
    padding: 0;

    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    /* display: none; */
    z-index: 1;
    display: none;
    border-radius: 1px;
}

.container .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Zen Maru Gothic', sans-serif;

    transition: 0.3s;
    
}

.container .links ul li a:hover {
    color: red;
    padding-left: 25px;
    font-weight: bold;
}

/* To put border in all elements (li) except the last one we use not()  */

.links ul li:not(:last-child) {
    border-bottom: 1px rgba(128, 128, 128, 0.445) solid;
}

.hero-img {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 40%;
    display: flex;
    margin: auto 0;
    justify-content: center;
}

.hero-img img {
    width: 50%;
    height: 100%;
    margin: 0 auto;
}




/* landing Start */
.landing {
    /*     background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url(../media/aurora.jpg);
 */
    background-size: cover;
    height: 100vh;
    /* postition relative to center the words in the middle of it */
    position: relative ; 
    background-image: radial-gradient(circle at 20% -1.95%, #ffffff 0, #ffffff 8.33%, #ffffff 16.67%, #ffffff 25%, #f3ffff 33.33%, #dcffff 41.67%, #c2fbff 50%, #a8f0fa 58.33%, #8fe5f8 66.67%, #79dbf7 75%, #65d1f6 83.33%, #54c8f7 91.67%, #4ac0f8 100%);
    margin-bottom: -16px;
}

.landing .intro-text {
    /* To center the image in the middle of the page */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    text-align: center;
    max-width: 100%;
}

/* for h1 into text */
.tracking-in-contract-bck-top {
	-webkit-animation: tracking-in-contract-bck-top 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.3s both;
	        animation: tracking-in-contract-bck-top 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.3s both;
}

.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: bold;
    font-size: 50px;
    /* test */
    background: #FF6D00;
    background: linear-gradient(to right, #FF6D00 25%, #911A76 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}







.landing h1 i {
    
    background: #FF8500;
    background: radial-gradient(ellipse farthest-corner at top left, #FF8500 31%, #CF1F1F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.landing .intro-text p {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.8;
    color: black;
    font-family: 'Zen Maru Gothic', sans-serif;
}
.test {
    width: 300px;
    position: absolute;
    height: 300px;
    clip-path: polygon(0 19%, 24% 75%, 25% 100%, 35% 31%, 35% 32%, 79% 69%, 0 59%, 25% 100%, 100% 50%, 100% 48%);
    background-image: radial-gradient(circle at 50% -3.03%, #ff81bb 0, #ff78c1 10%, #fb6ec7 20%, #ea65cd 30%, #d65cd3 40%, #be55d8 50%, #a150dd 60%, #7c4fe3 70%, #4750e8 80%, #0052ed 90%, #0054f0 100%);
}


.bounce-in-top{animation:bounce-in-top 1.1s both}



.tracking-in-contract{animation:tracking-in-contract .8s cubic-bezier(.215,.61,.355,1.000) both}


.container2 {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background-color: wheat;
    padding-top: 10px;
    position: relative;
    padding-bottom: 45px;


}



.container2 h2 {
    padding-left: 20px;
    font-size: 25px;
    font-family: "OkineSans";
    color: gray;

    
}

.container2 .secondh2 i {
    background-image: radial-gradient(circle at 20% -1.95%, #6f396d 0, #5f2b69 12.5%, #4c1c66 25%, #330e62 37.5%, #02035e 50%, #00005b 62.5%, #000058 75%, #000056 87.5%, #000053 100%);

}

.container2 h2 i {
    background: #03045E;
background: radial-gradient(ellipse farthest-corner at center center, #03045E 0%, #03045E 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;


}

.service {
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 18px;
    line-height: 37px;
}


.container2 ul {
    display: block;
    list-style-type: none;
    line-height: 37px;
    font-size: 18px;
    font-family: 'Zen Maru Gothic', sans-serif;
    
}

.container2 ul span {
    padding-right: 5px;
}

/* Use this to add font awsome icon as css */
.container2 ul li::before{
    content: "\f05d";
    font-family: FontAwesome;
    color: rgb(14, 172, 14);
    font-size: 17px;
}

.slide-in-left{animation:slide-in-left 2.4s cubic-bezier(.25,.46,.45,.94) both}



.chapters {
    background-color: #fff;
    background-color: red;

    background-image: radial-gradient(circle at 4.39% 46.01%, #002f3a 0, #002a32 8.33%, #012529 16.67%, #061f20 25%, #061817 33.33%, #030f0e 41.67%, #000000 50%, #000000 58.33%, #000000 66.67%, #000000 75%, #000000 83.33%, #000000 91.67%, #000000 100%);    clip-path: polygon(0 8%, 100% 0%, 100% 100%, 0% 100%);

    width: 100%;
    height: 337px;
    padding-top: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    font-family: OkineSans;
    color: white;
    overflow: hidden;
    margin-top: -17px;
    
}
    
.chapters h1 {
    font-size: 27px;
}


.chapters .probe img {
    width: 302px;
    
}

.chapters .sun {

    margin-left: -66px ;


    width: 283px !important;
    margin-left: -142px;


}

.chapters .sun img {
    width: inherit;
    height: inherit;
    margin-left: 0px;
}


.start {
    background-color: red;
    width: fit-content;
    border-radius: 9px;
}

.start a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 1rem 0.5rem;
}

.start:hover {
    background-image: radial-gradient(circle at 14.92% 20.57%, #bb8611 0, #bf7c0a 10%, #c37106 20%, #c66506 30%, #c85809 40%, #c9480e 50%, #c93514 60%, #ca1c1c 70%, #c90023 80%, #c9002b 90%, #c70034 100%);
}




/* for the probe */
.vibrate-1 {
	-webkit-animation: vibrate-1 0.5s linear infinite both;
	        animation: vibrate-1 0.5s linear infinite both;
}





.fff {
    width: 300px;
    height: 280px;
    margin-left:auto ;
    margin-right: auto;
    box-shadow: 46px 76px 0px 0px rgba(0,0,0,0.79);
    -webkit-box-shadow: 46px 76px 0px 0px rgba(0,0,0,0.79);
    -moz-box-shadow: 46px 76px 0px 0px rgba(0,0,0,0.79);
}

.fff img {
    width: inherit;
    height: inherit;
}





@media (max-width: 480px) {
   
    .chapters .sun img {
        width: inherit;
        height: inherit;
    }

    .chapters .sun {  
        width: 303px;
        height: 400px;
    } 
    

    .chapters h1 {
        color: white;
        font-size: 21px;
    }

    .chapters .probe {
        width: 120px;

    }
    .chapters .probe img {
        width: inherit;
        height: inherit;
    }

}

/* about us */
#about {
    padding: 2rem 0;
}
#about h2 {
    width: 100%;
    text-align: center;
    font-family: 'OkineSans';
    color: var(--moderate-orange);
}
#about .about-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#about .content {
    width:60%;
}
#about .about-img {
    width:30%;
    height: 100%;
}
#about .about-img img {
    width:100%;
    height: 100%;
}
#about .about-p {
    font-family: 'OkineSans';
    width: 80%;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.5;
}


.footer {
    padding-top: 29px;
    width: 100%;
    background-color: var(--dark-orange);
    background-color: var(--dark-orange-2d);
    height: 200px;

    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: -5px;
    align-items: center;
}

.contact {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    font-family: 'OkineSans';
    font-size: 1.3rem;
}

.cicons i {
    font-size: 30px;
    color: var(--dark-blue);

}

.cicons {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: OkineSans;
    margin: 0 auto;
    padding-top: 1rem;
}


.footer .cicons a {
    text-decoration: none;
}


.rights {
    background-color: var(--dark-orange);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: OkineSans;
    font-size: 15px;
}

/* Small Screens */

@media (min-width: 768px) {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .chapters .sun {

        margin-left: -162px !important;
    
    }

    .chapters .sun img {
       
    }

    .chapters {
        font-size: 23px;
    }

    .chapters .img {
        width: 172px;
    }
}


/* Medium Screens */



/* Large Screens */

@media (min-width: 1200px) {
    .container {
        width: 1150px;
    }
}


/* Custom */

@media (max-width: 1199px) {
    
}






/*  */


@media (max-width: 792px) {
    .logo {
        margin: auto;
    }
    .landing .intro-text p {
        font-size: 15px;
    }
    .hero-img {
        position: absolute;
        bottom: -65px;
        left: 0;
    }
    
    .hero-img img {
        width: 60%;
        height: 80%;
        margin: 0 auto;
    }
    .chapters h1 {
        font-size: 15px;
    }
    #about .about-container {
        flex-direction: column-reverse;
    }
    #about .content {
        width: 90%;
    }
    #about .about-p {
        font-size: 14px;
    }
    .nav-links .nav-link a {
        font-size: 0.8rem;
    }
    .chapters .sun {
        width: 252px !important;
    }
    .chapters .probe img {
        width: 200px;
    }
    .landing .intro-text h1 {
        font-size: 38px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 980px;
    }
}
